@model OjExam.Model.KnowPoint

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-table/css")
    @Styles.Render("~/Content/Layui/css")
    <style>
        .layui-center {
            text-align: center;
            width: auto
        }

        .layui-form-item .layui-form-label {
            width: 120px;
        }
    </style>
</head>

<body>

    <div>
        <table id="tb_class"></table>
    </div>

    <div id="addDiv">
        <br />
        <form id="form1" class="layui-form">
            <input type="hidden" id="ExamId" name="Id" value="" />
            <div class="layui-form-item layui-center">
                <div class="layui-inline">
                    <label class="layui-form-label">考试开始时间</label>
                    <div class="layui-input-inline">
                        <input name="StartTime" type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">考试结束时间</label>
                    <div class="layui-input-inline">
                        <input name="EndTime" type="text" class="layui-input" id="test2" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="layui-center">
                <button type="button" id="btnSubmit" class="layui-btn">确认</button>
                <button type="button" id="btnCancel" class="layui-btn">取消</button>
            </div>
        </form>
        <br />
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/datapattern.js"></script>
    @Scripts.Render("~/Content/Layui/js")
    @Scripts.Render("~/Content/bootstrap-table/js")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
        });
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //日期时间选择器
            laydate.render({
                elem: '#test1'
                , type: 'datetime'
            });

            laydate.render({
                elem: '#test2'
                , type: 'datetime'
            });
        });

        $(function () {
            $("#addDiv").css("display", "none");
            initTable();
        });

        function initTable(queryParam) {
            $("#tb_class").bootstrapTable('destroy');
            $('#tb_class').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/Exam/GetList',
                method: 'post',
                striped: true,
                cache: false,
                pagination: false,
                queryParams: queryParam,
                minimumCountColumns: 2,
                clickToSelect: true,
                detailView: true,
                uniqueId: "Id",
                columns: [
                    {
                        field: 'Id',
                        title: '考试编号',
                        width: '5%',
                        visible: true,
                        align: 'center',
                    },
                    {
                        field: 'CourseName',
                        title: '课程名称',
                        visible: true,
                        width: '20%',
                        align: 'center',
                    },
                    {
                        field: 'ClassName',
                        title: '班级名称',
                        visible: true,
                        width: '20%',
                        align: 'center',
                    },
                    {
                        field: 'StartTime',
                        title: '开始时间',
                        visible: true,
                        width: '20%',

                        align: 'center',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return null;
                            }
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m");
                        }
                    },
                    {
                        field: 'EndTime',
                        title: '结束时间',
                        visible: true,
                        width: '20%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return null;
                            }
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m");
                        }
                    },
                ],
                onDblClickRow: function (row, $element) {
                    layer.open({
                        type: 1,
                        content: $('#addDiv'),
                        title: '考试时间',
                        area: ['1000px', '500px']
                    });
                    $("#ExamId").val(row["Id"]);
                },
                onExpandRow: function (index, row, $detail) {
                    initSubTable(index, row, $detail);
                }
            });
        };
        //子表
        function initSubTable(index, row, $detail) {
            var parentid = row.Id;
            var cur_table = $detail.html('<table></table>').find('table');
            $(cur_table).bootstrapTable({
                queryParams: { id: parentid },
                url:'/Grade/GetListByExamId',
                clickToSelect: true,
                uniqueId: "Id",
                columns: [{
                    field: 'StudentId',
                    title: '学号'
                }, {
                    field: 'Name',
                    title: '学生姓名'
                }, {
                    field: 'Score',
                    title: '成绩'
                },]
            });
        }

        $("#btnSubmit").click(function () {
            $.post("/Exam/Create", $("#form1").serialize(), function (data) {
                if (data == "success") {
                    initTable();
                    layer.closeAll();
                } else {
                    layer.msg("操作失败请稍后再试")
                }
            })
        });

        $("#btnCancel").click(function () {
            layer.closeAll();
            return;
        });
    </script>
</body>

</html>
