@model OjExam.Model.ClassTeacherCourser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-table/css")
    @Styles.Render("~/Content/Layui/css")
    <style>
        .layui-center {
            text-align: center;
            width: auto
        }

        .layui-form-item .layui-form-label {
            width: 100px;
        }
    </style>
</head>

<body>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
        </button>
    </div>
    <div>
        <table id="tb_class"></table>
    </div>

    <div id="addDiv">
        <br />
        <form id="form1" class="layui-form">
            <div class="layui-form-item layui-center">
                <div class="layui-inline">
                    <label class="layui-form-label">科目</label>
                    <div class="layui-input-inline">
                        @Html.DropDownList("CourseId")
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">授课老师</label>
                    <div class="layui-input-inline">
                        @Html.DropDownList("TeacherId")
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属班级</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("ClassId")
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="layui-center">
                <button type="button" id="btnSubmit" class="layui-btn">确认</button>
                <button type="button" id="btnCancel" class="layui-btn">取消</button>
            </div>
        </form>
        <br />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/Layui/js")
    @Scripts.Render("~/Content/bootstrap-table/js")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
        });
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });

        $(function () {
            $("#addDiv").css("display", "none");
            initTable();
        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_class").bootstrapTable('destroy');
            $('#tb_class').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/ClassTeacherCourser/GetList',
                method: 'post',
                toolbar: '#toolbar',
                striped: true,
                cache: false,
                pagination: true,
                queryParams: queryParam,
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 50, 100],
                smartDisplay: false,
                showRefresh: true,
                minimumCountColumns: 2,
                clickToSelect: true,
                uniqueId: "Id",
                columns: [
                    {
                        field: 'Id',
                        title: '课程编号',
                        width: '5%',
                        visible: true,
                        align: 'center',
                    },
                    {
                        field: 'CourseName',
                        title: '学科名称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'TeacherName',
                        title: '教师名称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                    {
                        field: 'ClassName',
                        title: '班级名称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                    },
                ],
                onDblClickRow: function (row, $element) {
                    layer.prompt({
                        btn: ['确认', '删除'],
                        title: '查看课程',
                        value: row["Name"],
                        formType: 0, btn2: function () {
                            $.post("/ClassTeacherCourser/Delete", { id: row["Id"] }, function (data) {
                                if (data == "success") {
                                    initTable();
                                } else {
                                    layer.msg('操作失败请稍后再试！');
                                }
                            });
                        }
                    }, function (value, index) {
                        $.post("/ClassTeacherCourser/Edit", { id: row["Id"], name: value }, function (data) {
                            if (data == "success") {
                                initTable();
                                layer.close(index);
                            } else {
                                layer.msg('操作失败请稍后再试！');
                            }
                        });
                    });
                }
            });
        };

        $("#btn_add").on('click', function () {
            $("#Name").val("");
            layer.open({
                type: 1,
                content: $('#addDiv'),
                title: '添加课程',
                area: ['1000px', '500px']
            });
        });

        $("#btnCancel").click(function () {
            layer.closeAll();
            return;
        });

        $("#btnSubmit").click(function () {
            $.post("/ClassTeacherCourser/Create", $("#form1").serialize(), function (data) {
                if (data == "success") {
                    initTable();
                    layer.closeAll();
                } else {
                    layer.msg("操作失败请稍后再试")
                }
            })
        });
    </script>
</body>

</html>
