@model OjExam.Model.KnowPoint

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-table/css")
    @Styles.Render("~/Content/Layui/css")
    <style>
        .layui-center {
            text-align: center;
            width: auto
        }

        .layui-form-item .layui-form-label {
            width: 120px;
        }
    </style>
</head>

<body>

    <div>
        <table id="tb_class"></table>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/datapattern.js"></script>
    @Scripts.Render("~/Content/Layui/js")
    @Scripts.Render("~/Content/bootstrap-table/js")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
        });

        $(function () {
            initTable();
        });

        function initTable(queryParam) {
            $("#tb_class").bootstrapTable('destroy');
            $('#tb_class').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",
                url: '/Grade/GetList',
                method: 'post',
                striped: true,
                cache: false,
                pagination: false,
                queryParams: queryParam,
                minimumCountColumns: 2,
                clickToSelect: true,
                uniqueId: "Id",
                columns: [
                    {
                        field: 'Id',
                        title: '考试编号',
                        width: '5%',
                        visible: true,
                        align: 'center',
                    },
                    {
                        field: 'CourseName',
                        title: '课程名称',
                        visible: true,
                        width: '20%',
                        align: 'center',
                    },
                    {
                        field: 'ClassName',
                        title: '班级名称',
                        visible: true,
                        width: '20%',
                        align: 'center',
                    },
                    {
                        field: 'TeacherName',
                        title: '授课教师名称',
                        visible: true,
                        width: '20%',
                        align: 'center',
                    },
                    {
                        field: 'StartTime',
                        title: '开始时间',
                        visible: true,
                        width: '20%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m");
                        }
                    },
                    {
                        field: 'EndTime',
                        title: '结束时间',
                        visible: true,
                        width: '20%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m");
                        }
                    },
                    {
                        field: 'Score',
                        title: '分数',
                        visible: true,
                        width: '20%',
                        align: 'center',
                    },
                ],
                onDblClickRow: function (row, $element) {
                    var myDate = new Date().getTime();
                    var start = row["StartTime"].replace(/\/Date\((\d+)\)\//gi, "$1");
                    var end = row["EndTime"].replace(/\/Date\((\d+)\)\//gi, "$1");
                    if (start > myDate) {
                        layer.msg("考试未开始");
                    } else if (end < myDate) {
                        layer.msg("考试已结束");
                    } else {
                        if (row["Score"] != null) {
                            layer.msg("已参加过考试");
                        } else {
                            var index = layer.open({
                                title:'试题',
                                type: 2,
                                content: '/Problem/ProblemList/' + row["Id"],
                                maxmin: true,
                                end: function () {
                                    initTable();
                                }
                            });
                            layer.full(index);
                        }
                    }
                },
            });
        };

        $("#btnSubmit").click(function () {
            $.post("/Exam/Create", $("#form1").serialize(), function (data) {
                if (data == "success") {
                    initTable();
                    layer.closeAll();
                } else {
                    layer.msg("操作失败请稍后再试")
                }
            })
        });

        $("#btnCancel").click(function () {
            layer.closeAll();
            return;
        });
    </script>
</body>

</html>
