<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页 - OjExam</title>
    @Styles.Render("~/Content/Layui/css")
</head>
<body>


    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">瓯江考试系统</div>
            <ul class="layui-nav layui-layout-left">
                <li top-bar top-id="1" class="layui-nav-item layui-this"><a href="javascript:;"></a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        @RenderSection("Name")
                    </a>
                </li>
                <li class="layui-nav-item"><a href="/UserLogin/Exit">退出</a></li>
            </ul>
        </div>
        <!-- 侧边栏 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                @RenderBody()
                <!-- 控制台的 -->
                <ul left-bar left-id="1" class="layui-nav layui-nav-tree" lay-filter="left-nav" style="border-radius: 0;">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" data-url="welcome.html" data-id="11" tab-item>
                            欢迎
                        </a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" data-url="http://amazeui.org/widgets/m" data-id="1" tab-item>
                            Amazeui Mobile
                        </a>
                    </li>
                </ul>


            </div>
        </div>
        <!-- 主体 -->
        <div class="layui-body">
            <!-- 顶部切换卡 -->
            <div class="layui-tab layui-tab-brief" lay-filter="top-tab" lay-allowClose="true" style="margin: 0;">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content" style="padding: 0;"></div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="layui-footer" style="text-align: center; line-height: 44px;">
            Copyright © 2017 <a href="http://mumbai.cat" target="_blank">Benthink</a> Powered by Dust
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/Layui/js")
    <script type="text/javascript">
// $.Toast("标题", "你收到了一条消息", "success", {
        //     stack: true,
        //     has_icon:true,
        //     has_close_btn:true,
        //     fullscreen:false,
        //     timeout:2700,
        //     sticky:false,
        //     has_progress:true,
        //     rtl:false,
        // });

        // iframe切换动画
        function ani(id) {
            $("[iframe-id=" + id + "]").hide();
            $("[iframe-id=" + id + "]").fadeIn(127);
        }

        layui.use(['element'], function () {
            var element = layui.element;
            var layer = layui.layer;

            var tabfilter = 'top-tab';
            var tab = $('.layui-tab[lay-filter=' + tabfilter + ']').eq(0);
            var tabcontent = tab.children('.layui-tab-content').eq(0);
            var tabtitle = tab.children('.layui-tab-title').eq(0);

            /**
             * iframe自适应
             */
            $(window).resize(function () {
                //设置顶部切换卡容器度
                tabcontent.height($(this).height() - 60 - 41 - 44); //头部高度 顶部切换卡高度 底部高度
                //设置顶部切换卡容器内每个iframe高度
                tabcontent.find('iframe').each(function () {
                    $(this).height(tabcontent.height());
                });
            }).resize();

            // 监听Tab切换，以改变地址hash值
            element.on('tab(' + tabfilter + ')', function () {
                try {
                    var id = this.getAttribute('lay-id');
                } catch (e) {
                    var id = null;
                }
                if (id != null) {
                    location.hash = tabfilter + '=' + id;
                    ani(id);
                }
            });

            // 点击左侧链接的时候
            $('[tab-item]').bind('click', function () {
                var id = $(this).attr('data-id');
                var title = $(this).text();
                var url = $(this).attr('data-url');

                var iframes = $("[lay-id=" + id + "]").length;
                if (iframes == 0) {
                    // 不存在的情况
                    var iframe = '<iframe';
                    iframe += ' src="' + url + '" iframe-id="' + id + '"';
                    iframe += ' style="width: 100%; height: ' + tabcontent.height() + 'px; border: 0px;"';
                    iframe += '></iframe>';
                    //顶部切换卡新增一个卡片
                    element.tabAdd(tabfilter, { 'title': title, 'content': iframe, 'id': id });
                    ani(id);
                }
                // 添加记录
                location.hash = tabfilter + '=' + id;
                // 改变tab
                element.tabChange(tabfilter, id);
            });

            // 顶部导航选择时
            $('[top-bar]').bind('click', function () {
                var id = $(this).attr('top-id');
                var lefts = $("[left-bar][left-id='" + id + "']").length;
                if (lefts != 0) {
                    // top-bar有对应的left-bar的情况下
                    $("[left-bar]").hide();
                    $("[left-bar][left-id='" + id + "']").fadeIn(500);
                }
            });

            /**
             * 初始化点击侧边栏导航
             */
            var layid = location.hash.replace(/^#top-tab=/, '');
            // layui-this
            if (layid) {
                $('.layui-side-scroll').find('[data-id=' + layid + ']').eq(0).click();    // 根据传入的ID跳转
            } else {
                $('.layui-side-scroll').find('[data-url][data-id]').eq(0).click();    // 点击第一个
            }

        });</script>
</body>
</html>
